<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Belezas de Piripiri{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</head>
<body>

    {% include "header.html" %}



    <main class="conteudo">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

 <script>
function toggleAtracoes(event) {
  event.stopPropagation();
  const box = document.getElementById("atracoesBox");
  box.classList.toggle("show");
}

document.addEventListener("click", function () {
  const box = document.getElementById("atracoesBox");
  if (box) {
    box.classList.remove("show");
  }
});
</script>



</body>
</html>
