<nav class="menu">

  <a href="{{ url_for('index') }}" class="menu-item">
    <span class="icon">🏠</span>
    <span>Início</span>
  </a>

  <nav class="menu">


  <!-- BOTÃO ATRAÇÕES -->
<div class="dropdown">
  <a class="menu-item" onclick="toggleAtracoes(event)">
    <span class="icon">🌟</span>
    <span>Atrações</span>
  </a>

  <!-- CAIXINHA -->
  <div class="dropdown-content" id="atracoesBox">
    <a href="{{ url_for('categoria', nome='pizzaria') }}" class="dropdown-item">
      <span class="icon">🍕</span><span>Pizzaria</span>
    </a>

    <a href="{{ url_for('categoria', nome='hamburgueria') }}" class="dropdown-item">
      <span class="icon">🍔</span><span>Hamburgueria</span>
    </a>

    <a href="{{ url_for('categoria', nome='restaurantes') }}" class="dropdown-item">
      <span class="icon">🍽️</span><span>Restaurantes</span>
    </a>

    <a href="{{ url_for('categoria', nome='sushi') }}" class="dropdown-item">
      <span class="icon">🍣</span><span>Sushi</span>
    </a>

    <a href="{{ url_for('categoria', nome='sorveteria') }}" class="dropdown-item">
      <span class="icon">🍦</span><span>Sorveteria</span>
    </a>

    <a href="{{ url_for('categoria', nome='pracas') }}" class="dropdown-item">
      <span class="icon">🏞️</span><span>Praças</span>
    </a>

    <a href="{{ url_for('categoria', nome='igrejas') }}" class="dropdown-item">
      <span class="icon">⛪</span><span>Igrejas</span>
    </a>

    <a href="{{ url_for('categoria', nome='esportes') }}" class="dropdown-item">
      <span class="icon">⚽</span><span>Esportes</span>
    </a>

    <a href="{{ url_for('categoria', nome='banhos') }}" class="dropdown-item">
      <span class="icon">💦</span><span>Banhos</span>
    </a>

    <a href="{{ url_for('categoria', nome='academia') }}" class="dropdown-item">
      <span class="icon">🏋️</span><span>Academia</span>
    </a>

    <a href="{{ url_for('categoria', nome='hospedagem') }}" class="dropdown-item">
      <span class="icon">🏨</span><span>Hospedagem</span>
    </a>
  </div>
</div>


</nav>

<a href="{{ url_for('contato') }}" class="menu-item">
  <span class="icon">📩</span>
  <span>Contato</span>
</a>

  <!-- BOTÃO ADMIN -->
{% if session.get("admin") and request.endpoint != "admin" %}
  <a href="{{ url_for('admin') }}" class="menu-item">
    <span class="icon">⬅</span>
    <span>Voltar</span>
  </a>

  <a href="{{ url_for('logout') }}" class="menu-item">
    <span class="icon">🚪</span>
    <span>Sair</span>
  </a>

{% elif session.get("admin") %}
  <a href="{{ url_for('logout') }}" class="menu-item">
    <span class="icon">🚪</span>
    <span>Sair</span>
  </a>

{% else %}
  <a href="{{ url_for('login') }}" class="menu-item">
    <span class="icon">🔐</span>
    <span>Login</span>
  </a>
{% endif %}


</nav>
