<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="search-header">
    <img src="{{ url_for('static', filename='imagens/imagens1.png') }}" alt="Ícone do site">
    <form class="search-box" action="{{ url_for('buscar') }}" method="get">
    <span class="icon">🔍</span>
    <input
      type="text"
      name="q"
      placeholder="Procure seu destino"
      aria-label="Buscar destino"
      required
    >
    <button type="submit">Buscar</button>
</form>
  {% include "categorias.html" %}
</header>
</body>
</html>