body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #E4E3C5, #C9D9A5);
    min-height: 100vh;
}


/* Card branco central */
.dashboard {
    width: 800px;
    margin: 100px auto;
    background: #fff;
    padding: 25px 30px 35px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    text-align: center;
}

/* Título */
.dashboard h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
}

/* Área dos botões */
.cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Botões estilo card */
.card {
    flex: 1;
    background: #ececec;
    border-radius: 6px;
    padding: 18px 10px;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    transition: background 0.3s, transform 0.2s;
}

/* Ícone */
.card .icon {
    font-size: 22px;
}

/* Texto */
.card .text {
    font-size: 13px;
    line-height: 1.2;
}

/* Hover igual dashboard */
.card:hover {
    background: #e6e6e6;
    transform: translateY(-2px);
}
